/* Show it's not fixed to the top */

body {
    min-height: 75rem;
    font-family: 'Noto Sans TC', sans-serif;
}

.token {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: cornflowerblue;
    font-weight: bold;
}

.bg-query {
    background-color: #90c8ca!important;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home_table {
    font-size: 2cm;
}